.box-row{
    margin-top: 130px;
}

#box{
    padding: 50px;
    border:2px solid gray;
}

.front-nav{
    background-color: rgba(76, 69, 22, 0.08);
    height: 45px;
}

.errors{
    color:red;
}

.menu-item {
    padding: 8px 10px 0px 10px;
    font-weight: 600;
}

.menu-item a:hover{
    text-decoration: none;
}
.front-nav li:hover {
    background-color:blanchedalmond ;
}