.comments{
    margin-top: 10px;
    background-color: rgb(136, 216, 157);
    border: 1px solid cyan;
}

label[for="comment"] {
    font-weight: 600;
    margin-right: 10px;
}

#comment{
    margin-right: 10px;
}

.add-comment-row{
    margin-bottom: 30px;
}
h4 {
    margin-bottom: 30px;
}

.task-box{
    border: 2px solid darkgrey;
    padding: 10px;
    margin-bottom: 20px;
}

.comment-name-col{
    border-right: 1px solid gray;
}
.comment-date-col{
    border-left: 1px solid gray;
}