.tasks-list {
    padding: 0 10px;
}

.table-header div {
    color: #333;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}

.table-column {
    padding: 5px 0;
}

.table-column.odd {
    background: rgba(173, 156, 106, 0.5);
}

.btn-sm {
    padding: 2px 5px !important;
    margin-right: 10px;
}